/*Jumbotron*/
.jumbotron {
	background-image: url(image/gambar1.png);
	background-size: cover;
	height: 608px;
	text-align: center;
}
.jumbotron .display-4 {
	color: white;
	margin-top: 150px;
	font-weight: 200;
}
.jumbotron .lead {
	color: white;
}
/*info panel*/
.info-panel {
	background-color: white;
	box-shadow: 0 16px 48px;
	border-radius: 10px;
	margin-top: -100px;
}

/*workingspace*/
.workingspace .col {
	margin-top: 60px;
}
.workingspace h4 {
	font-size: 32px;
	font-weight: 700;
	margin-top: 48px;
}
.workingspace p {
	font-size: 16px;
	color: #6C757D;
	margin-top: 64px;
}
/*program*/
.program {
	text-align: center;
	margin-top: 48px;
}
.program2 {
	text-align: center;
}
/*btn*/
.lihat {
	margin-top: 48px;
	text-align: center;
}
/*carousel*/
.carousel .lead {
	font-size: 32px;
	font-weight: 700;
	margin-top: 48px;	
}


/*partner*/
.partner {
	text-align: center;
}
.partner .lead {
	font-size: 32px;
	font-weight: 700;
	margin-top: 48px;
}
/*progress*/

/*footer*/
*, *:before, *:after {
box-sizing: border-box;
}

body {
font-family: poppins;
margin: 0;
display: grid;
font-size: 14px;
}
header p {
padding: 50px;
text-align: center;
color: #bebebe;
text-transform: uppercase;
font-size: 65px;
font-weight: 700;
}
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color: #364042
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}

h2 {
font-weight: 400;
font-size: 15px;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #999;
}

.h-box {
column-count: 1;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: #999;
}   

@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}